.bottu:hover {
    border-bottom: 1px solid black;
}

#atv {
    border-bottom: 1px solid black;
}

.nav-tabs > li > a {
    font-size: 15px;
}

.bottmenu {
    display: block;
}

.logoback {
    width: 50px;
    height: 10px;
}

.underline {
    border-bottom: 5px solid #d5d5d5;
}

.underline2 {
    border-bottom: 10px solid #d5d5d5;
}

.navbar-nav > li > a {
    font-size: 15px;
}

.slidimg {
    width: 100%;
}

.footerfont {
    font-size: 13px;
    color: black;
    background-color: #d5d5d5;
}

.cent {
    vertical-align: middle;
}

.product {
    width: 100%;
}

a:link {
    color: black;
    text-decoration: none;
}

footer > a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}


body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 0px;
}

.navbar-nav li a:hover {
    color: white !important;
    background-color: black !important;
}

@media (max-width:320px) {
    .navbar-brand {
        font-size: 10px;
    }

    .bottmenu {
        display: none;
    }
}

@media (max-width:375px) {
    .navbar-brand {
        font-size: 13px;
    }

    .bottmenu {
        display: none;
    }
}

@media (max-width:384px) {
    .navbar-brand {
        font-size: 14px;
    }

    .bottmenu {
        display: none;
    }

    #bottmenu2 {
        font-size:10px;
    }
}

@media (min-width:768px) {
    .navbar-brand {
        display: none;
    }
}

@media (min-width:970px) {
    .navbar-brand {
        display: block;
    }
}
